<div 
  class=" px-2 border rounded flex items-center flex-row mb-2 bg-lime-600"
  >

    <span 
      class="px-1 mb-2 text-lg" 
    >
      {{ index }}. 
      </span>

    <span 
      class="px-2 mb-2 text-lg hover:text-blue-900" [ngClass]="{'line-through': todo.checked}"
      (click)="checkTodo(todo)"
      >
      {{ todo.text }}
      </span> 
  <div class=" ml-auto md:h-14 md:flex md:flex-row md:items-center md:justify-end md:space-x-1 md:space-y-0">
    <button 
      class="border py-2 px-2 rounded "  
      (click)="editTodo(todo)"
      > ✎️ </button>
    <button 
      class=" border py-2 px-4 rounded "  
      (click)="deleteTodo(todo)"
      >&times;
    </button>
  </div>

  <app-edit-todo [index]="index" *ngIf="editTodoService.isVisible$ | async">
    <app-edit-text-todo [todo]="todo"></app-edit-text-todo>
   </app-edit-todo>

</div>