<nav>
  <div class="h-16 bg-lime-500 sticky top-0">
    <a class="font-semibold text-3xl absolute left-2 top-3 h-12 w-30" routerLink="/">My Todo</a>
    <ul id="nav-menu" class="hidden w-full space-y-2 pr-3 font-semibold text-xl text-right md:h-14 md:flex md:flex-row md:items-center md:justify-end md:space-x-5 md:space-y-0">
      <li class="hover:text-blue-900 text-lime-800" routerLinkActive="text-blue-700">
        <a  routerLink="login" >Вход</a>
      </li>
      <li class="hover:text-blue-900 text-lime-800" routerLinkActive="text-blue-700">
        <a  routerLink="registration" >Регистрация</a>
      </li>     
    </ul>
  </div>
</nav>

<div class="relative flex flex-col justify-center min-h-screen overflow-hidden">
  <router-outlet></router-outlet>
</div>