
<div class="max-w-2xl container mx-auto pt-5">
  
  <h1 class="text-4xl font-bold mb-2 text-center"> Пользователь: {{ auphServices.user }} </h1>
 
  <div *ngIf="todosService.todos.length!==0">
  <h1 class="text-xl font-bold underline">
   Текущие задачи:
 </h1>
 <p class="text-xs">(клик на задачу, чтобы отметить)</p>
 </div>
  <p *ngIf="loading" class="text-center text-lg">Loading...</p>
 
  <div *ngIf="todosService.todos">
   <app-todo  
     *ngFor="let todo of todosService.todos let i=index" 
     [todo]="todo"
     [index]="i + 1"
   ></app-todo>
  </div>

  <div *ngIf="todosService.todos.length===0">
    <h2 class="text-xl text-center font-bold ">
      У Вас еще нет задач. Нажмите на (+) внизу экрана, чтобы добавить задачу
    </h2>
  </div>

   <app-add-todo *ngIf="addTodoService.isVisible$ | async">
    <app-create-todo></app-create-todo>
   </app-add-todo>

   <!-- <app-edit-todo *ngIf="editTodoService.isVisible$ | async">
    <app-edit-text-todo></app-edit-text-todo>
   </app-edit-todo> -->

   <button 
    class="rounded-full bg-red-700 text-white fixed right-5 bottom-5 py-2 px-4 text-3xl"
    (click)="addTodoService.open()"
    >+</button>
 </div>